

	<main>
       
		<section>
			<center><h2 style="font-size:36px; color:dimgray">Experience the latest technology without the commitment.</h2></center>
			
		</section>

		<section>
			<center><p style="font-size:20px;">Welcome to Jenil's rental store! Step into the world of cutting-edge technology and find the perfect device to fit your needs.</p></center>
			
            <center>
                <figure>
				<img src="https://rentalcity.ca/wp-content/uploads/2020/03/ps4-slim.jpg" height="200px" width="200px">
                <figcaption style="font-size:20px; color:steelblue">Play Station 4</figcaption>
                </figure>

                <figure>
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlLVKOQij1zHanSeDA0V4o3ghLyIpsalxwDQ&usqp=CAU" height="200px" width="200px">
                <figcaption style="font-size:20px; color:steelblue">Dualsense PS5</figcaption>
                </figure>

                <figure>
				<img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MMMR3?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1645719947833" height="200px" width="400px">
                <figcaption style="font-size:20px; color:steelblue">Apple Magic Keyboard</figcaption>
                </figure>

				
            </center>
			
			<center><p style="font-size: 24px;"><a href="/all">See All items></a></p></center>
		</section>
	</main>

	