<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

<body>
	<header>
		<nav>
			<center><h1 style="font-size:40px;"><a style="color:black;"><a href="/">JENIL'S RENTALS</a></h1></center>

			<form><center>
				<input type="text" id="searchbox" name="keyword" placeholder="Enter Keyword" style="width: 600px;" >
				<button  type="submit">Search</button>
                <datalist id="search-list">
                <option value="Play Station 4">
                <option value="Sony Bravia TV 46 inch">
                <option value="Apple Magic Keyboard">
                <option value="DualSense PS5">
                <option value="Play Station 5">
                <option value="Canon Printer"> 
                </datalist>
			</form> </center>
		</nav>
	</header>

{{{body}}}
    <footer>
		<p><center>&copy;2023 Jenil Shah</p></center>
	</footer>

	<script src="/js/script.js"></script>
</body>
</html>



